//
// Layouts
// ---------------------------

.app {
   
}

.main {
    @extend %spread;
    position: relative;
    height: 0;
    padding-bottom: 58.5%;
}

.pointerevents .flash {
    @extend %spread;
    @extend %translate3d-reset;
    position: fixed;
    background-color: $white;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    @include animation(flash, 2.4s, ceaser($easeOutExpo), 1);
}
