//
// Scaffolding
// ---------------------------

// Border-box everything
// --------------------------
// (http://paulirish.com/2012/box-sizing-border-box-ftw/)
// Use with caution if app needs to support oldIE (6,7,8)
// * {
//  @include box-sizing(border-box);
// }

// Body reset
// -------------------------

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $bodyBackground;
    background-image: url(../img/global/bg-texture.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
