//
// Typography
// ---------------------------

// Links
// -------------------------
a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkColorHover;
        text-decoration: underline;
    }
}

// Body text
// -------------------------
p {
    @extend %text-shadow;
    margin: 0 0 $baseLineHeight / 2;
    font-size: 1.6em;
    line-height: 1.8em;
}

ul, ol {
    margin: 0;
    list-style: none;
}


// Emphasis & Misc
// -------------------------
small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: italic; }


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
    @extend %text-shadow;
    margin: ($baseLineHeight / 2) 0;
    font-family: $headingsFontFamily;
    font-weight: $headingsFontWeight;
    line-height: 1;
    color: $headingsColor;
    text-transform: uppercase;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 { font-size: 5.0em; line-height: 1em; }
h2 { font-size: 4.1em; line-height: 1.15em; }
h3 { font-size: 1.9em; line-height: 1.4em; }
h4 { font-size: 1.3em; line-height: 1em; }


