//
// Variables
// ---------------------------

// Globals
// -------------------------
$baseUrl: env_or_default("STATIC_URL", "/static/");

// Colors
// -------------------------
$white:                     #ffffff !default;
$lightGray:                 #cccccc !default;
$black:                     #151515 !default;
$lightGray:                 #cccccc !default;
$gray:                      #6a6a6a !default;
$darkGray:                  #363535 !default;
$darkGreen:                 #1f3333 !default;
$green:                     #3c4e4e !default;
$lightGreen:                #37a7a2 !default;
$red:                       #b44e4e !default;

// Scaffolding
// -------------------------
$bodyBackground:            $black !default;
$textColor:                 $lightGray !default;
$hrBorder:                  $lightGray !default;

// Links
// -------------------------
$linkColor:                 $gray !default;
$linkColorHover:            lighten($linkColor, 15%) !default;

// Typography
// -------------------------

$Fjord:                     'Fjord One', serif;
$Aldrich:                   'Aldrich', sans-serif;

$baseFontSize:              10px !default;
$baseFontFamily:            $Fjord !default;
$baseLineHeight:            20px !default;

$headingsFontFamily:        $Aldrich !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:        400 !default;    // instead of browser default, bold
$headingsColor:             inherit !default; // empty to use BS default, $textColor

// Buttons
// -------------------------
$btnBackground:             $white !default;
$btnBackgroundHighlight:    darken($white, 10%) !default;
$btnBorder:                 #bbb !default;
